<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>inviteAccount</param-name>
        <param-value>remember2meetme@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>invitePassword</param-name>
        <param-value>Shad14ow!!</param-value>
    </context-param>

    <listener>
        <listener-class>meetme.web.email.EmailContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>OrganizerHome</servlet-name>
        <servlet-class>meetme.web.OrganizerHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrganizerHome</servlet-name>
        <url-pattern>/at/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>meetme.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <!--MEETINGS-->
    <servlet>
        <servlet-name>MeetingsList</servlet-name>
        <servlet-class>meetme.web.meeting.MeetingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingsList</servlet-name>
        <url-pattern>/MeetingsList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeetingDetails</servlet-name>
        <servlet-class>meetme.web.meeting.MeetingDetailsSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingDetails</servlet-name>
        <url-pattern>/Meeting</url-pattern>
    </servlet-mapping>

    <!--REPORTS-->
    <servlet>
        <servlet-name>Reports</servlet-name>
        <servlet-class>meetme.web.reports.ReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reports</servlet-name>
        <url-pattern>/Reports</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
        <!--<welcome-file>index.jsp</welcome-file>-->
    </welcome-file-list>
</web-app>